<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>红色家书</title>
    <link href="/css/rems/course-learning-01.css" rel="stylesheet" />
</head>

<body>
<div th:replace="rems-back/rems-core/top :: html"></div>
<div class="content">
    <div class="con_title">
        刘伯坚家书的精神光辉
        <a class="btn btn-danger btn_back" href="/course-learning">返回</a>
    </div>
    <div class="con_img">
        <img th:src="@{/images/js_13.png}" />
    </div>
    <div class="con_txt">
        <h1 class="titleH1">铁血忠魂，廉风长吟</h1>
        <div class="Introduce">
            <ul>
                <li>家书作者：刘伯坚</li>
                <li>家书标题：铁血忠魂，廉风长吟</li>
                <li>家书日期：1935 年狱中期间</li>
                <li>家书来源：刘伯坚在狱中写给妻子王叔振、亲属的书信</li>
            </ul>
        </div>
        <div class="btn-buy" id="buyButton">
            <a href="013">
                <button class="buy">详细学习</button>
            </a>
            <button class="add">加入收藏夹</button>
        </div>
    </div>
    <div class="travelNav">
        <ul>
            <li><a href="#p1">家书简介</a></li>
            <li><a href="#p2">家书特色</a></li>
            <li><a href="#p3">廉洁文化</a></li>
            <li><a href="#p4">廉洁教育</a></li>
            <li style="width: 262px; border-right: none">
                <a href="">咨询电话：400-626-6226</a>
            </li>
        </ul>
    </div>
    <p class="con_txt_title">
        <span class="con_txt_span1">“铁血忠魂，廉风长吟”</span>
    </p>
    <p class="con_txt_title">
            <span
                    class="con_txt_span2">&nbsp;刘伯坚家书一封：
“叔振同志：
我的绝命书及遗嘱你必能见着，我直寄陕西凤笙及五六诸兄嫂。
你不要伤心，望你无论如何要为中国革命努力，不要脱离革命战线，并要用尽一切的力量教养虎、豹、熊三幼儿成人，继续我的光荣的革命事业。
我葬在大庾梅关附近。
十二时快到了，就要上杀场，不能再写了，致以最后的革命的敬礼。
刘伯坚
三月二十日于大庾”
这封家书虽简短，但饱含着对妻子继续投身革命的期望，对子女成长及传承革命事业的深切寄望，展现出刘伯坚坚定的革命信念与伟大的人格，也体现出其在家书中蕴含的廉洁奉公、为革命奉献一切的高尚情怀与精神品质在家庭与革命大义间的彰显。&nbsp;</span>
    </p>
</div>
<footer>
    <p><span><a href="#">红色家书网</a></span> made by 中北大学软件学院</p>
</footer>
</body>

</html>