<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>红色家书</title>
    <link href="/css/rems/course-learning-01.css" rel="stylesheet" />
</head>

<body>
<div th:replace="rems-back/rems-core/top :: html"></div>
<div class="content">
    <div class="con_title">
        为人类自由解放甘愿牺牲
        <a class="btn btn-danger btn_back" href="/course-learning">返回</a>
    </div>
    <div class="con_img">
        <img th:src="@{/images/js_7.png}" />
    </div>
    <div class="con_txt">
        <h1 class="titleH1">许英：为着全人类的自由解放情愿以死杀敌</h1>
        <div class="Introduce">
            <ul>
                <li>家书作者：许英家书</li>
                <li>家书标题：许英</li>
                <li>家书日期：1926年11月6日</li>
                <li>家书来源：战争中所写</li>
            </ul>
        </div>
        <div class="btn-buy" id="buyButton">
            <a href="007">
                <button class="buy">详细学习</button>
            </a>
            <button class="add">加入收藏夹</button>
        </div>
    </div>
    <div class="travelNav">
        <ul>
            <li><a href="#p1">家书简介</a></li>
            <li><a href="#p2">家书特色</a></li>
            <li><a href="#p3">廉洁文化</a></li>
            <li><a href="#p4">廉洁教育</a></li>
            <li style="width: 262px; border-right: none">
                <a href="">咨询电话：400-626-6226</a>
            </li>
        </ul>
    </div>
    <p class="con_txt_title">
        <span class="con_txt_span1">家书故事映照如磐初心</span>
    </p>
    <p class="con_txt_title">
            <span
                    class="con_txt_span2">&nbsp;中国人民大学家书博物馆收藏了自明末清初以来的五万余封家书，红色家书约占五分之一，时间跨度为一个世纪左右。红色家书展示了不同时期共产党人的精神风貌和心路历程，具有鲜明特色：挺立时代潮头，追求光明进步，勇于担当奉献，牺牲小我、成就大我……这些家书背后，是一代代共产党人前赴后继、接力奋斗的辉煌历史。

　　1926年11月6日，时任叶挺独立团某部政治指导员的陆更夫给远在四川叙永老家的五弟写了一封家书，透露出对家人的强烈思念：

　　“……要是我回家也很容易，不过我现在不能回来！我很久没有得到家信了，然而这是没有办法的事，不久我该可以决定交信地点，决定时再通知你！父亲现在何处？我不知信该交什么地方！母亲近来想也安好无恙！我现在的身体很是安健，能吃苦！不害病，这是母亲和你们都喜欢的！”

　　令人遗憾的是，从16岁离开家乡到成都读书，直到26岁被捕牺牲，10年时间里，陆更夫再也没能回到朝思暮想的家乡。

　　这封家书是陆更夫烈士唯一幸存的遗墨。他曾对妻子黄海明说：“咱们都是革命者，我们的一切都属于党，属于人民。为了党的事业，我们都会毫不犹豫地献出自己的一切，包括幸福，乃至生命……”黄海明1927年入党，坐过国民党的监狱，把一生献给了党的事业。她与陆更夫唯一的女儿陆曼曼继承了父亲遗志，也走上了革命道路，长期从事国防工业建设，多次被评为先进工作者、优秀共产党员。

　　1948年8月20日，东北人民解放军4纵12师35团2营教导员许英在写给母亲的家书中说：

　　“10年的革命锻炼教育了我，我完全明白我这10年的斗争是无比的光荣、伟大，我忍受了一切艰难困苦，在生死的危机情况下进行着顽强的流血的斗争，这是为了母亲、弟弟的永远解放。为着母亲的幸福，为着全人类的自由解放我情愿以死杀敌，我的光荣正是母亲的光荣，全家的光荣。”

　　一个多月之后，许英在辽沈战役中牺牲。这封家书是战友从烈士衣兜里发现的。

　　数十年来，许英的侄子许卓亮精心保存着伯父的家书手稿，深受感染。他先后入伍、入党、提干，多次立功受奖。2018年，许卓亮从部队退休后，回到老家河北省饶阳县良见村，在家中老屋的遗址上翻建新房，取名“家史馆”，把许英烈士的家书等家史资料陈列其中，供家族成员参观学习、传承家风。

　　1994年“七一”前夕，何显斌给正在湖北沙洋师范学校读书的女儿何金慧写信：

　　“作为一个中国共产党的普通党员，我还想说几句话。……你是否应该向党组织递交申请书？……人不可能生活在真空，总有一定的理想、信念、人生观。”

　　1997年2月23日，何金慧写下入党申请书，第二年7月1日如愿入党。在她的建议下，家里三位党员组成了一个家庭党支部。2001年，何金慧不幸去世，父母连续4年，坚持每年为她交纳1000元党费，以此延续她的政治生命。

　　何金慧成绩优异，思想进步，被称为“哲学女孩”。她去世后，留下了数百封书信、几十本日记，成为新时期大学生自强不息、追求卓越的典范。何显斌主动从荆门市东宝区教委主任的领导岗位上退了下来，发起成立了以女儿名字命名的助学基金和青少年教育促进会。二十年来，他应邀到大中小学作励志报告四百余场，用女儿的成长故事感动了十余万青少年；资助90余名贫困学生完成学业；创办了“金慧故里老来乐”服务队，照顾十多位孤寡和空巢老人……

　　家风的“家”，是家庭的“家”，也是国家的“家”。捧读这些家书，我们可以触摸到先辈们笔下流出的热血和激情，他们把民族独立、人民幸福置于个人、家庭之上，表现出英勇无畏的气节和崇高的牺牲精神；可以感受到作为中国先进文化的代表，一代又一代共产党人是怎样坚守初心使命，实现政治理想的；也可以从一个侧面理解中华民族从站起来、富起来到强起来的历史密码。&nbsp;</span>
    </p>
</div>
<footer>
    <p><span><a href="#">红色家书网</a></span> made by 中北大学软件学院</p>
</footer>
</body>

</html>