<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>红色家书</title>
    <link href="/css/rems/course-learning-01.css" rel="stylesheet" />
</head>

<body>
<div th:replace="rems-back/rems-core/top :: html"></div>
<div class="content">
    <div class="con_title">
        视死如归，对家人的嘱托
        <a class="btn btn-danger btn_back" href="/course-learning">返回</a>
    </div>
    <div class="con_img">
        <img th:src="@{/images/js_4.png}" />
    </div>
    <div class="con_txt">
        <h1 class="titleH1">骆何民：不要和我所恨的人妥协</h1>
        <div class="Introduce">
            <ul>
                <li>家书作者：骆何民家书</li>
                <li>家书标题：骆何民</li>
                <li>家书日期：1948年12月27日</li>
                <li>家书来源：临刑前所写</li>
            </ul>
        </div>
        <div class="btn-buy" id="buyButton">
            <a href="/004">
                <button class="buy">详细学习</button>
            </a>
            <button class="add">加入收藏夹</button>
        </div>
    </div>
    <div class="travelNav">
        <ul>
            <li><a href="#p1">家书简介</a></li>
            <li><a href="#p2">家书特色</a></li>
            <li><a href="#p3">廉洁文化</a></li>
            <li><a href="#p4">廉洁教育</a></li>
            <li style="width: 262px; border-right: none">
                <a href="">咨询电话：400-626-6226</a>
            </li>
        </ul>
    </div>
    <p class="con_txt_title">
        <span class="con_txt_span1">骆何民写给妻子的遗书：不要和我所恨的人妥协</span>
    </p>
    <p class="con_txt_title">
            <span
                    class="con_txt_span2">&nbsp;骆何民(1914—1948)，原名骆家骝，又名骆仲达，江苏省扬州市江都区人。小学毕业后进省立第八中学求学。1927年加入中国共产主义青年团，1930年加入中国共产党。1932年，任共青团上海沪西区委宣传部部长、组织部部长，1938年后先后在《国民日报》《开明日报》《文萃》周刊工作。1947年7月21日，和陈子涛在家中被捕。1948年5月被押解去南京，同年12月27日在南京雨花台被秘密杀害，时年34岁。枚华：

永别了！望你不要为我悲哀，多回忆我对你不好的地方，忘记我！好好照料安安，叫她不要和我所恨的人妥协！

母亲、开万报兄处不另！这是骆何民烈士1948年12月27日在临刑前，通过一位医生带出的一封给妻子费枚华的写在手纸上的遗书。

这仓促中留下的短短几十字，饱含了一个革命者视死如归永不屈服的大无畏精神，也饱含了骆何民对妻子的挚爱、对孩子的依依不舍和对敌人的痛恨，可以看到共产党人钢铁般的坚定意志和不可动摇的革命信念。

1927年10月，中国大革命处在低潮，13岁的骆何民被党组织指派建立扬州共青团特别支部，负责儿童团各项工作。第一次在家乡因参加反帝、反封建斗争而被捕时，他还是个不满16岁的中学生。然而，他毫无畏惧，把亲自审问他的县长驳得哑口无言。虽未成年，也被关3个月。刑满出狱后，即被校方开除。这是他第一次被捕。

1929年冬，骆何民经党组织安排转移到上海，一边从事地下斗争，一边继续求学。1930年7月，在骆何民强烈要求下，他回到苏北，参加红十四军。九一八事变后，他又回到上海。1932年，一二八淞沪抗战爆发，他带领进步青年开展抗日宣传活动，冒着枪林弹雨赴前线慰问抗日将士。3月初，骆何民因在上海火车站演讲反对国民党签订淞沪停战协定而被捕，这是他第二次被捕。面对敌人的淫威，他决不屈服，被折磨得奄奄一息。由于党组织和亲友全力营救，方获保外就医。伤势还未痊愈，骆何民又投入火热的抗日救亡运动。

1932年，骆何民先后担任共青团沪西区委宣传部部长、组织部部长。11月，骆何民参加沪西区团委会议，因叛徒告密，连同骆何民在内五名同志再次被捕，被押到上海龙华警备司令部，判刑五年，送到漕河泾监狱服刑，直至七七事变，国共合作结成抗日民族统一战线，才重新恢复自由。

五年对一个风华正茂的青年而言是一段多么珍贵的黄金时光，而骆何民却是在国民党的监狱中度过的。漫长的铁窗生涯非但丝毫未能削弱、动摇他的革命意志和信念，相反把他练就成更加理智、干练、百折不挠的钢铁战士。牢房的条件极其恶劣，终日阴暗潮湿，骆何民凭着惊人的毅力，抓紧时间，刻苦学习。亲友们为他捎去食品及生活日用品，他总是请他们多带些书报杂志。五年中，他阅读了大量革命理论著作和进步书刊，不断汲取新的知识，充实自我，还自学了英语、日语。他常说：坐牢不仅能磨炼人的意志，也是丰富自己的学识，掌握更多为革命斗争本领的好机会。他乐观地把坐牢当作革命征程中的暂时休整，因此，每次出狱归来，便满怀激情地投入新的战斗。

上海沦陷后，骆何民按照党的指示向鄂西撤退。1939年秋，在一次摆脱敌人的追捕中，与同志们失散，他孤身一人翻山越岭，经武汉、抵长沙，涉足新闻战线。他先后在几家报社担任编辑记者，并参加了范长江等创办的国际新闻社和中国青年记者协会，公开发表了多篇坚持抗日民主，反对妥协投降的文章，引起国民党湖南当局的仇视。1940年年底，骆何民遭军警逮捕，囚禁于耒阳狱中。这是他第五次被捕。由于远离亲友，一时难以找到合适的保人。保释看来是行不通了，只有寻求别的途径争取早日出狱。可是，耒阳监狱内外戒备森严，全副武装的狱警日夜防守。积累了丰富狱中斗争经验的骆何民开始琢磨该从哪儿打开缺口。一天，骆何民的监房押进一个因斗殴受罚的狱卒。他就主动与之攀谈，渐渐取得狱卒的信任。闲聊中，了解了监狱四周的地形和警戒情况。同时，他又利用仅有的放风时间摸清周围环境。越狱，一个大胆的计划在周密地酝酿着并很快付诸行动。骆何民趁上厕所的间隙，躲过监狱看守和岗哨的视线，沿着事先设计的线路，逃离了魔窟。他一路风尘，辗转跋涉于桂林、香港等地，过着漂泊无定的流亡生活。

1942年骆何民经友人介绍前往福建，继续从事新闻出版工作。1945年7月因著名记者、军事评论家羊枣案件的牵连，骆何民第六次被捕入狱，并因此而失去了党组织关系。1946年9月由社会上层人士出面保释后，他四处奔波，急于接上党的关系。有些同志和朋友不明真相，对他产生了误解，投以不信任的目光。骆何民一度深感苦闷、委屈。但他很快就振作起来。

1946年11月，骆何民带着妻儿重返上海。时值国共和谈濒于破裂，国民党政府大肆扼杀进步舆论，上海出版的许多报刊如《民主》《周报》《群众》等相继被查封，《文萃》也已屡遭查禁，被迫转入地下。上海警备司令部下令全市各印刷厂一律不准承印《文萃》。骆何民不顾自己刚出狱不久，且多次被捕，自告奋勇担负起筹建印刷厂的任务。在亲友的帮助下，从筹集资金、购置机器设备到落实厂址，很快就建起了友益印刷厂，使《文萃》得以继续出版，保住了共产党仅存的几个宣传阵地之一。1947年春，国民党中统上海办事处派特务到处收缴《文萃》丛刊，可《文萃》丛刊仍以不同的封面形式一期接一期地出版，在上海及周边地区的人民中广泛传阅，当出至第十期时，中统特务终于找到了印刷《文萃》的工厂所在地。7月下旬，连续逮捕了《文萃》发行经理吴承德、主编陈子涛和印刷厂经理骆何民及部分工作人员。

对骆何民来说，这已是他投身革命20年来的第七次被捕，距前次获释相隔不到一年，他那神情如同往日出门一般。年仅3岁的女儿眼看爸爸被一群陌生人带走，用稚嫩的嗓音边喊爸爸，边扑了过去，被妈妈紧紧地抱在怀里。听到女儿的呼唤，骆何民放慢了脚步。回首凝望着一直伴随他颠沛流离、历经艰辛的妻儿，浓眉下一双刚毅而充满智慧的眼睛流露出一丝难以察觉的眷恋与歉意。

骆何民和妻子费枚华1942年结婚。费枚华出生于上海一个书香门第，追随两个姐姐加入新四军，皖南事变后，随新四军被疏散到浙江丽水，后辗转到了桂林，在新知书店工作。他们没有花前月下的卿卿我我、海誓山盟，有的只是执子之手、相濡以沫的深情。颠沛流离的革命生涯，见证了他们爱情的坚贞。骆何民曾对战友说过，生命只有一次，我这一生，一是选择了党，一是娶了费枚华这样的好姑娘，我对自己的选择，虽九死犹不悔。

特务们对骆何民施尽酷刑，一无所获，找到他的妻子，她一口咬定什么都不知道。敌人又企图用亲情来感化他们，对他妻子说：“你先生不说话是不行的，你要是不想他死，就快劝他自首吧！”还故意安排受了重刑，双腿几乎难以支撑行走的骆何民与妻子见面。妻子一眼望见他脚后跟血迹斑斑，又红又肿，忍不住难过地哭了。骆何民强忍伤痛亲切地安慰她：“没什么，里面蚊子很多，抓破了皮，涂了些红药水。”他们默默相视，一切尽在无言中。临别时，骆何民说：“不要悲伤，死并不可怕，只是对不起你，今后也只好靠你的努力了。望你好好抚育孩子，告诉她，爸爸希望她做个好人。”短暂的相聚竟是这对革命夫妇最后的诀别。

虽然身陷囹圄，骆何民还是像前几次在监狱里那样读中外文书报，和难友们憧憬着革命胜利的那一天。而他最迫切的愿望，就是尽快恢复组织关系。他让获释出狱的同志带出一封信，请求党组织审查他的党籍。1948年12月27日深夜，革命即将胜利的前夜，骆何民与另外两位难友陈子涛、卢志英牺牲在雨花台。骆何民，这位15岁就投身革命的战士，为了人民的利益、心中的信仰战斗了20年，牺牲时距35岁还差10天。

1949年7月1日，中共上海市委组织部作出《关于追认骆何民同志党籍问题的决定》，恢复了骆何民的党籍。&nbsp;</span>
    </p>
</div>
<footer>
    <p><span><a href="#">红色家书网</a></span> made by 中北大学软件学院</p>
</footer>
</body>

</html>